{% extends "bootbase.html" %}
{% load staticfiles %}
{% block header_js_css %}
{% endblock %}
{% block main %}
<div class="row">
    <div class="form-group">
        <div class="col-lg-6">
            <a id="reset_query">Reset</a>
            <div class="input-group">
                <input type="text" id="search_query" class="form-control" placeholder="Search by Fooditems" />
                <span class="input-group-btn">
                    <button id="search_foodtrucks_btn" class="btn btn-success" type="button">Go!</button>
                </span>
            </div>
        </div>
        <br>
    </div>
    <div>
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map" style="width:1000px; height:500px"></div>
    </div>
    <div>
        <h2>Nearby Foodtrucks</h2>
        <h4 class="hide" id="show_result_caption">Showing Results for query <span id="copy_query"></span></h4>
        <ul class="list-group" id="foodtrucks_list">
        </ul>
    </div>
</div>

{% endblock %}
