{% extends "bootbase.html" %}

{% block main %}

<div class="row">
    <div class="span5 offset3 well">
        <form class="form well" method="POST" action=".">
            {%csrf_token%}
            <fieldset>
                <legend>Existing Users Login</legend>

                <label for="username">Username</label>
                <div class="div_text">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input type="text" name="username" class="span4" value="">
                    </div>
                </div>

                <label for="password">Password</label>
                <div class="div_text">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        <input type="password" name="password" class="span4">
                    </div>
                </div>

                <input type="hidden" value="{{next}}" name="next">
                {% if form.errors %}
                <div class="control-group error">
                    <label class="control-label">Sorry, that's not a valid username or password</label>
                </div>
                {% endif %}

                <button>Log In</button>

                <div class="clear"></div>
            </fieldset>
        </form>
    </div>
</div>

{%endblock%}

{% block footer_js_css %} 

<script type="text/javascript">
/*
$(document).ready(function(){
    $('#id_username,#id_password').focus(function(){
        $('div.errors').fadeOut();
    });
});
*/

</script>

{%endblock%}
