<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FoodTruck</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/static/img/favicon.ico" />

        <!-- Le styles -->
        <!--link href="{{static_path}}/css/bootstrap.min.responsive.css" rel="stylesheet"-->
        <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        {%block header_js_css%}{%endblock header_js_css%}
    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <span class="brand" href="#">Food Truck</span>
                    <div class="nav-collapse">
                        <ul class="nav">
                            {%if request.user.userprofile.role == 'CALLER'%}
                            {%else%}
                            <li class="active"><a href="/">Home</a></li>
                            {%endif%}
                                {%if request.user.is_authenticated%}
                                <li><a href="javascript:void();">{%if request.user.get_full_name%}{{request.user.get_full_name}}{%else%}{{request.user.username}}{%endif%}</a></li>
                                <li><a id='logout_id' href="/logout/">Logout</a></li>
                                {%else%}
                                <li><a href="/login/">Login</a></li>
                                {%endif%}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            {%block main%}
            <h1>Bootstrap starter template</h1>
            <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
            {%endblock%}
        </div> <!-- /container -->

        <script src="{% static "js/jquery-1.12.0.min.js" %}"></script>
        <script src="{% static "js/jquery-ui.min.js" %}"></script>
   </script>
        {%block footer_js_css%}
        <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8e3GYwLN_2F981X68u_dAhY49lNGHpo4&libraries=places&callback=initMap">
          </script>
        <script src="{% static "js/index.js" %}"></script>
        {%endblock%}
    </body>
</html>
